n8n/workflows/ofertas-rodada-skeleton.json
{
  "name": "ofertas-rodada-n8n-native-skeleton",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Workflow oficial n8n-native. Processa uma janela unica expandindo os profiles em items independentes; parse, score, selecao e copy rodam por profile e a consolidacao acontece no fim."
  },
  "active": false,
  "tags": [],
  "triggerCount": 0,
  "nodes": [
    {
      "id": "1",
      "name": "Trigger Rodada",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Set Contexto Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "profiles_csv", "value": "={{ $json.profiles_csv || 'feminino,mae-e-bebe,auto-e-moto' }}" },
            { "name": "run_id", "value": "={{ $json.run_id || $now.toFormat('yyyy-LL-dd') + '-janela-01' }}" },
            { "name": "requested_by", "value": "={{ $json.requested_by || 'n8n' }}" },
            { "name": "notes", "value": "={{ $json.notes || '' }}" },
            { "name": "allowed_targets_csv", "value": "={{ $json.allowed_targets_csv || '' }}" },
            { "name": "rules_spreadsheet_id", "value": "={{ $json.rules_spreadsheet_id || '16M0S-ipgQ9lOUqCtXTd1OC80I2emERCK8ByVllR06-E' }}" },
            { "name": "project_drive_folder_id", "value": "={{ $json.project_drive_folder_id || '1Ta1UWp88wrAp7GXnK3Hm8xO9xboO22WQ' }}" },
            { "name": "catalog_clean_folder_id", "value": "={{ $json.catalog_clean_folder_id || '1D8FJRdlcvPEccWXNAO7GNqPh4Bdu0HMa' }}" }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Validar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawProfiles = $json.profiles_csv || '';\nconst profiles = rawProfiles.split(',').map(item => item.trim()).filter(Boolean);\nconst allowed = new Set(['feminino', 'mae-e-bebe', 'auto-e-moto']);\nif (!($json.rules_spreadsheet_id || '').trim()) throw new Error('rules_spreadsheet_id obrigatorio');\nif (!($json.project_drive_folder_id || '').trim()) throw new Error('project_drive_folder_id obrigatorio');\nif (profiles.length === 0) throw new Error('profiles_csv vazio');\nfor (const profile of profiles) { if (!allowed.has(profile)) throw new Error(`profile fora do contrato operacional: ${profile}`); }\nreturn [{ json: { ...$json, profiles, total_profiles: profiles.length } }];"
      }
    },
    {
      "id": "4",
      "name": "Expandir Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = $json;\nreturn (base.profiles || []).map((profile) => ({\n  json: {\n    ...base,\n    profile,\n    processing_unit: 'profile',\n  }\n}));"
      }
    },
    {
      "id": "5",
      "name": "Ler Regras Google Sheets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1080, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "rules_status", "value": "pending_google_sheets_nodes" }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Ler Catalog Registry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "catalog_registry_status", "value": "pending_google_sheets_registry_read" }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Sync Catalogos Google Drive",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "catalog_sync_status", "value": "pending_google_drive_download_into_n8n_storage_per_profile" }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Parse Catalogo CSV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1920, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "parse_status", "value": "pending_n8n_native_csv_parse_per_profile" }
          ]
        }
      }
    },
    {
      "id": "9",
      "name": "Rodar Scorer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "scorer_status", "value": "pending_n8n_native_scoring_per_profile" }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Selecionar Ofertas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2480, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "selection_status", "value": "pending_n8n_native_selection_per_profile" }
          ]
        }
      }
    },
    {
      "id": "11",
      "name": "Gerar Copy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2760, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "copy_status", "value": "pending_n8n_native_message_render_per_profile" }
          ]
        }
      }
    },
    {
      "id": "12",
      "name": "Montar Dispatch do Profile",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3040, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "dispatch_status", "value": "pending_n8n_native_dispatch_artifact_per_profile" }
          ]
        }
      }
    },
    {
      "id": "13",
      "name": "Consolidar Janela",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{\n  json: {\n    run_id: rows[0]?.run_id || null,\n    total_profiles: rows.length,\n    profiles_processed: rows.map(row => row.profile),\n    processing_mode: 'per-profile-heavy-stages',\n    profiles: rows,\n  }\n}];"
      }
    },
    {
      "id": "14",
      "name": "Persistir Log da Rodada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3600, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "log_status", "value": "pending_n8n_storage_persistence" }
          ]
        }
      }
    },
    {
      "id": "15",
      "name": "Notificar Conclusao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3880, 0],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "notification_status", "value": "pending_channel_notification" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Trigger Rodada": { "main": [[{ "node": "Set Contexto Base", "type": "main", "index": 0 }]] },
    "Set Contexto Base": { "main": [[{ "node": "Validar Contexto", "type": "main", "index": 0 }]] },
    "Validar Contexto": { "main": [[{ "node": "Expandir Profiles", "type": "main", "index": 0 }]] },
    "Expandir Profiles": { "main": [[{ "node": "Ler Regras Google Sheets", "type": "main", "index": 0 }]] },
    "Ler Regras Google Sheets": { "main": [[{ "node": "Ler Catalog Registry", "type": "main", "index": 0 }]] },
    "Ler Catalog Registry": { "main": [[{ "node": "Sync Catalogos Google Drive", "type": "main", "index": 0 }]] },
    "Sync Catalogos Google Drive": { "main": [[{ "node": "Parse Catalogo CSV", "type": "main", "index": 0 }]] },
    "Parse Catalogo CSV": { "main": [[{ "node": "Rodar Scorer", "type": "main", "index": 0 }]] },
    "Rodar Scorer": { "main": [[{ "node": "Selecionar Ofertas", "type": "main", "index": 0 }]] },
    "Selecionar Ofertas": { "main": [[{ "node": "Gerar Copy", "type": "main", "index": 0 }]] },
    "Gerar Copy": { "main": [[{ "node": "Montar Dispatch do Profile", "type": "main", "index": 0 }]] },
    "Montar Dispatch do Profile": { "main": [[{ "node": "Consolidar Janela", "type": "main", "index": 0 }]] },
    "Consolidar Janela": { "main": [[{ "node": "Persistir Log da Rodada", "type": "main", "index": 0 }]] },
    "Persistir Log da Rodada": { "main": [[{ "node": "Notificar Conclusao", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ofertas-rodada-n8n-native-skeleton-v2"
}
