n8n/workflows/ofertas-rodada-self-hosted-skeleton.json
{
  "name": "ofertas-rodada-multi-profile-skeleton",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Esqueleto inicial do workflow operacional de ofertas para n8n 1.x. Ajustar paths, notificacoes e persistencia antes de uso real."
  },
  "active": false,
  "tags": [],
  "triggerCount": 0,
  "nodes": [
    {
      "id": "1",
      "name": "Trigger Rodada",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Set Contexto Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "profiles_csv",
              "value": "={{ $json.profiles_csv || 'feminino,mae-e-bebe,auto-e-moto' }}"
            },
            {
              "name": "run_id",
              "value": "={{ $json.run_id || $now.toISO() }}"
            },
            {
              "name": "requested_by",
              "value": "={{ $json.requested_by || 'n8n' }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.notes || '' }}"
            },
            {
              "name": "root_dir",
              "value": "C:\\Automacao_Grupos-de-Ofertas\\n8n\\root"
            },
            {
              "name": "app_dir",
              "value": "C:\\Automacao_Grupos-de-Ofertas"
            },
            {
              "name": "catalogs_dir",
              "value": "C:\\Automacao_Grupos-de-Ofertas\\n8n\\root\\catalogs"
            },
            {
              "name": "data_dir",
              "value": "C:\\Automacao_Grupos-de-Ofertas\\n8n\\root\\data"
            },
            {
              "name": "profile_catalog",
              "value": ""
            },
            {
              "name": "profile_data_dir",
              "value": ""
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Expandir Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        0
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const raw = $json.profiles_csv || 'feminino,mae-e-bebe,auto-e-moto';\nconst profiles = raw.split(',').map(item => item.trim()).filter(Boolean);\nreturn profiles.map((profile) => ({\n  json: {\n    ...$json,\n    profile,\n    profile_catalog: `${$json.catalogs_dir}/${profile}/clean_catalog_rating_4_8_plus.csv`,\n    profile_data_dir: `${$json.data_dir}/${profile}`,\n  }\n}));"
      }
    },
    {
      "id": "4",
      "name": "Validar Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const allowed = new Set(['feminino', 'mae-e-bebe', 'auto-e-moto']);\nconst profile = $json.profile;\nif (!allowed.has(profile)) {\n  return [{ json: { ...$json, status: 'error', error_code: 'invalid_profile', message: 'profile fora do contrato operacional' } }];\n}\nreturn [{ json: { ...$json, status: 'ok' } }];"
      }
    },
    {
      "id": "5",
      "name": "Profile OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "ok"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Garantir Pasta do Profile",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1180,
        -120
      ],
      "parameters": {
        "command": "powershell -Command \"New-Item -ItemType Directory -Force -Path '{{$json.profile_data_dir}}' | Out-Null\""
      }
    },
    {
      "id": "7",
      "name": "Validar Catalogo Ativo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1420,
        -120
      ],
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"{{$json.app_dir}}\\scripts\\n8n\\validate_catalog.ps1\" -Profile \"{{$json.profile}}\" -RootDir \"{{$json.root_dir}}\" -AppDir \"{{$json.app_dir}}\""
      }
    },
    {
      "id": "8",
      "name": "Executar Prepare",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1660,
        -120
      ],
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"{{$json.app_dir}}\\scripts\\n8n\\invoke_prepare.ps1\" -Profile \"{{$json.profile}}\" -RootDir \"{{$json.root_dir}}\" -AppDir \"{{$json.app_dir}}\""
      }
    },
    {
      "id": "9",
      "name": "Validar Artefatos Prepare",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1900,
        -120
      ],
      "parameters": {
        "command": "powershell -Command \"$base='{{$json.profile_data_dir}}'; $required=@('offers.json','selection_state.json','copy_briefs.json','messages_preview.html','review_queue.json'); $missing=@(); foreach ($name in $required) { if (!(Test-Path (Join-Path $base $name))) { $missing += $name } }; if ($missing.Count -gt 0) { Write-Error ('MISSING=' + ($missing -join ',')); exit 1 }; Write-Output 'PREPARE_OUTPUTS_OK'\""
      }
    },
    {
      "id": "10",
      "name": "Publicar Pendencia de Revisao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        -120
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "review_status",
              "value": "awaiting_human_review"
            },
            {
              "name": "review_queue_path",
              "value": "={{ $json.profile_data_dir + '/review_queue.json' }}"
            }
          ]
        }
      }
    },
    {
      "id": "11",
      "name": "Wait Review",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2380,
        -120
      ],
      "parameters": {
        "resume": "manual"
      }
    },
    {
      "id": "12",
      "name": "Validar Queue Resolvida",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2620,
        -120
      ],
      "parameters": {
        "command": "powershell -Command \"$path='{{$json.profile_data_dir}}\\review_queue.json'; $items=Get-Content $path -Raw | ConvertFrom-Json; $pending=@($items | Where-Object { $_.status -eq 'pending' }).Count; Write-Output ('PENDING_COUNT=' + $pending); if ($pending -gt 0) { exit 2 }\""
      }
    },
    {
      "id": "13",
      "name": "Executar Finalize",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2860,
        -120
      ],
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"{{$json.app_dir}}\\scripts\\n8n\\invoke_finalize.ps1\" -Profile \"{{$json.profile}}\" -RootDir \"{{$json.root_dir}}\" -AppDir \"{{$json.app_dir}}\""
      }
    },
    {
      "id": "14",
      "name": "Validar Artefatos Finalize",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3100,
        -120
      ],
      "parameters": {
        "command": "powershell -Command \"$base='{{$json.profile_data_dir}}'; $required=@('approved_messages.json','publication_manifest.json','dispatch_artifact.json','dispatch_report.json'); $missing=@(); foreach ($name in $required) { if (!(Test-Path (Join-Path $base $name))) { $missing += $name } }; if ($missing.Count -gt 0) { Write-Error ('MISSING=' + ($missing -join ',')); exit 1 }; Write-Output 'FINALIZE_OUTPUTS_OK'\""
      }
    },
    {
      "id": "15",
      "name": "Montar Resumo do Profile",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3340,
        -120
      ],
      "parameters": {
        "command": "powershell -Command \"$artifact = Get-Content '{{$json.profile_data_dir}}\\dispatch_artifact.json' -Raw | ConvertFrom-Json; $report = Get-Content '{{$json.profile_data_dir}}\\dispatch_report.json' -Raw | ConvertFrom-Json; $summary = [ordered]@{ status = 'ok'; profile = '{{$json.profile}}'; run_id = '{{$json.run_id}}'; dispatch_artifact_path = '{{$json.profile_data_dir}}/dispatch_artifact.json'; dispatch_report_path = '{{$json.profile_data_dir}}/dispatch_report.json'; total_targets = $artifact.summary.total_targets; total_available_messages = $artifact.summary.total_available_messages; total_selected_messages = $artifact.summary.total_selected_messages; total_blocked_targets = $artifact.summary.total_blocked_targets; total_dry_run = $report.summary.total_dry_run; mode = 'dry-run' }; $summary | ConvertTo-Json -Compress\""
      }
    },
    {
      "id": "16",
      "name": "Consolidar Resumo da Janela",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        -120
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const rows = $input.all().map(item => JSON.parse(item.json.stdout || '{}'));\nconst summary = {\n  status: 'ok',\n  run_id: rows[0]?.run_id ?? null,\n  profiles_processed: rows.map(row => row.profile),\n  total_profiles: rows.length,\n  total_targets: rows.reduce((acc, row) => acc + (row.total_targets || 0), 0),\n  total_available_messages: rows.reduce((acc, row) => acc + (row.total_available_messages || 0), 0),\n  total_selected_messages: rows.reduce((acc, row) => acc + (row.total_selected_messages || 0), 0),\n  total_blocked_targets: rows.reduce((acc, row) => acc + (row.total_blocked_targets || 0), 0),\n  total_dry_run: rows.reduce((acc, row) => acc + (row.total_dry_run || 0), 0),\n  mode: 'dry-run',\n  profiles: rows,\n};\nreturn [{ json: summary }];"
      }
    },
    {
      "id": "17",
      "name": "Persistir Log da Rodada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3820,
        -120
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "log_status",
              "value": "pending_persistence_implementation"
            }
          ]
        }
      }
    },
    {
      "id": "18",
      "name": "Notificar Conclusao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4060,
        -120
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "notification_status",
              "value": "pending_notification_implementation"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Trigger Rodada": {
      "main": [
        [
          {
            "node": "Set Contexto Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contexto Base": {
      "main": [
        [
          {
            "node": "Expandir Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Profiles": {
      "main": [
        [
          {
            "node": "Validar Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Profile": {
      "main": [
        [
          {
            "node": "Profile OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile OK?": {
      "main": [
        [
          {
            "node": "Garantir Pasta do Profile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Garantir Pasta do Profile": {
      "main": [
        [
          {
            "node": "Validar Catalogo Ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Catalogo Ativo": {
      "main": [
        [
          {
            "node": "Executar Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Prepare": {
      "main": [
        [
          {
            "node": "Validar Artefatos Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Artefatos Prepare": {
      "main": [
        [
          {
            "node": "Publicar Pendencia de Revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar Pendencia de Revisao": {
      "main": [
        [
          {
            "node": "Wait Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Review": {
      "main": [
        [
          {
            "node": "Validar Queue Resolvida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Queue Resolvida": {
      "main": [
        [
          {
            "node": "Executar Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Finalize": {
      "main": [
        [
          {
            "node": "Validar Artefatos Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Artefatos Finalize": {
      "main": [
        [
          {
            "node": "Montar Resumo do Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resumo do Profile": {
      "main": [
        [
          {
            "node": "Consolidar Resumo da Janela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Resumo da Janela": {
      "main": [
        [
          {
            "node": "Persistir Log da Rodada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir Log da Rodada": {
      "main": [
        [
          {
            "node": "Notificar Conclusao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ofertas-rodada-skeleton-v1"
}
